.agency-name{
    display: flex;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1170px;
}
.komla{
    color: #FF5400;
text-align: center;
font-family: Mulish;
font-size: 18px;
font-weight: 700;
}
.menu a{
    color: var(--Dark-02, #424247);
text-align: center;
font-family: Mulish;
font-size: 18px;
font-weight: 400;
text-decoration: none;
}

.menu{
    display:inline-flex;
padding: 10px 0px;
justify-content: center;
align-items: center;
gap: 44px;
}

.agency-section{
background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
background: no-repea;
width: 1170px;
height: 500px;
text-align: center;
justify-content: center;
margin-left: auto;
margin-right: auto;
}

.explore-title{
color: #FFF;
font-family: Mulish;
font-size: 64px;
font-weight: 800;
padding: 100px 280px 0px 280px;
}

.paragraph-title{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
line-height: 26px;
padding-bottom: 10px;
}
.input-item{
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
text-align: center;
justify-content: center;
display: flex;
display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 24px;
}
.input-item input{
    padding: 20px;
    width: 100px;
    border: none;
}
.input-container{
    background-color: #FFF;
    padding:0px 5px 0px 5px ;
}
.popular-trips{
    width: 1170px;
    /* justify-content: center; */
    display: flex;
    margin-left: auto;
   margin-right: auto;
   padding-top: 55px;
   gap: 100px;
   align-items: center;

}
.gallaxy-trips{
    padding-bottom: 50px;
}
.t-trips{
    color: #131318;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
}
.full-dtls{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
border: none;
color: #FFF;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-weight: 800;
}
.list-info{
text-align: left;
}
.some-info{
    gap: 40px;
}
.p-style{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.place-choice{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 55px;
}
.c-head{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-weight: 800;
}
.c-paragraph{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
/* padding-top: 24px; */
padding-bottom: 28px;
}

.maldives-indonesia{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}
.srilanka-kashmir{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}
.bd-bandaban{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}
.our-service{
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
}
.why-choice{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
}
.price{
   display: flex;
   justify-content: center;
   border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05);
width: 30%;
margin: 0 auto;
margin-top: 55px;
padding: 32px 55px 32px 32px;

}
.hotel{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 32px 55px 32px 32px;
}
.map{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
padding: 32px 55px 32px 32px;
}
.hotel-service{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.news-l{
    color: #131318;
font-family: Mulish;
font-size: 24px;
font-weight: 800;
}
.n-paragraph{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.h-line2{
    width: 106%;
}
.news-section{
border: 1px solid #FF5400;
padding: 40px 50px;
border-radius: 16px;
}

.enter-name input{
width: 100%;
padding: 12px;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
padding-bottom: 16px;
border: none;
outline: none;
color: rgba(19, 19, 24, 0.30);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
}
.enter-mail input{
    width: 100%;
padding: 12px;
margin-top: 16px;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
padding-bottom: 16px;
border: none;
outline: none;
color: rgba(19, 19, 24, 0.30);
font-family: Mulish;
font-size: 16px;
font-weight: 400;
}
.subscribe{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-weight: 800;
border-radius: 8px;
background: #FF5400;
border: none;
width: 100%;
padding: 12px;
margin-top: 16px;
}
.subscribe button{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 20px;
font-weight: 800;
background-color:#FF5400;
border: none;
}
.a-web{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 24px;
font-weight: 400;
}
.b-discount{
    color: #FFF;
font-family: Mulish;
font-size: 32px;
font-weight: 800;
}

.footer-item{
    text-align: center;
    padding-top: 50px;
    background: rgba(19, 19, 24, 0.05);
/* height: 502px; */
padding: 110px 0px 110px 0px;
}
.save-70{
    position: relative;
}
.upto-70{
    position: absolute;
    border-radius: 16px;
background: #FF5400;
width: 324px;
height: 120px;
transform: rotate(-19.628deg);
text-align: center;
right: 15px;
bottom: 55px;
padding-bottom: 30px;

}
.offer{
    display: flex;
    /* justify-content: space-around; */
    gap:24px;
    width: 1270px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 60px; */
}
.f-section{
    padding-top: 50px;
}
.h-line{
    width: 50%;
}
.komla2{
    color: #FF5400;
font-family: Mulish;
font-size: 32px;
font-weight: 800;
}
.f-last{
    color: var(--Dark-01, #131318);
font-family: Mulish;
font-size: 32px;
font-weight: 800;
}
.h-padding{
    padding-bottom: 30px;
}
.i-padding{
    padding-bottom: 30px;
    padding-top: 30px;
}
.f-padding{
    padding-top: 30px;
}